node_modules
dist
build
.turbo

.svelte-kit
.wrangler
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
logs/
*.log

# Env
.env
.env.*
!.env.example
!.env.development.example
!.env.production.example
!.env.test
.local*
justfile

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.crt
*.key

# Testing
test*.json

# Deploy
app/svelte.config.prod.js
app/wrangler*.jsonc

# Editors
.vscode/
.idea/
*.iml

# Notes
notes*.txt
notes*.md
notes*.json
tree*.txt
diff*.txt
prompt*.txt
