[submodule "static/webfonts"]
	path = static/webfonts
	url = git@github.com:72-61-64-72-6f-6f-74-73/webfonts.git
[submodule "static/phosphor-icons"]
	path = static/phosphor-icons
	url = git@github.com:72-61-64-72-6f-6f-74-73/phosphor-icons.git
