RADROOTS_WEB_APP_ENV_FILE=
RADROOTS_WEB_APP_RUNTIME_MODE=
RADROOTS_WEB_APP_DEV_HOST=
RADROOTS_WEB_APP_DEV_PORT=
RADROOTS_WEB_DEFAULT_RELAY_URLS=
RADROOTS_WEB_RELAY_URL=
RADROOTS_WEB_API_BASE_URL=
RADROOTS_WEB_MEDIA_BASE_URL=
RADROOTS_WEB_KEYVAL_NAME=
RADROOTS_WEB_SQL_WASM_URL=
RADROOTS_WEB_GEOCODER_DB_URL=
RADROOTS_WEB_NOSTR_CLIENT=
RADROOTS_WEB_APP_NAME=
RADROOTS_WEB_APP_ACCENT=
RADROOTS_WEB_APP_DESCRIPTION=
