<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSLocationWhenInUseUsageDescription</key>
	  <string>Uses device GPS to read current location.</string>
    <key>NFCReaderUsageDescription</key>
    <string>Uses device NFC to enable wireless communication.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Uses device mapping features to display and explore locations.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
  </dict>
</plist>