@import "./lib/css/spinner.css";
@import "./lib/css/spinner-6.css";
@import "./lib/css/spinner-12.css";
@import "./lib/css/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .map-marker-popup-simple-open {
        @apply h-40 w-72;
    }

    .form-select-e {
        @apply border-0 focus:border-0 outline-0 focus:outline-0;
    }

    .form-line-e {
        @apply pl-4 justify-center items-center;
    }

    .form-select-e,
    .form-line-e,
    .form-line {
        @apply flex flex-row h-form_line w-full;
    }

    .form-input {
        @apply input flex flex-row w-full p-0 border-0 focus:border-0 outline-0 focus:outline-0 placeholder:font-[300] bg-transparent;
    }

    .form-input-invalid {
        @apply outline outline-[2px] outline-red-300/70;
    }
    
    .tap-scale {
        @apply active:scale-[94%];
    }

    .tap-scale,
    .tap-color {
        @apply active:opacity-80 transition-all;
    }

    .input-simple {
        @apply input flex flex-row w-full h-fit p-0 border-0 focus:border-0 outline-0 focus:outline-0 placeholder:font-[300] bg-layer-1-surface font-mono text-sm text-layer-2-glyph;
    }

    .button-submit {
        @apply h-[32px] min-w-[82px] w-fit rounded-xl active:bg-layer-1-surface_a;
    }

    .button-simple {
        @apply h-line w-line;
    }

    .button-base
    .button-simple,
    .button-submit {
        @apply flex flex-row justify-center items-center font-mono text-sm lowercase transition-all select-none cursor-none;
    }

    .surface-1,
    .button-simple,
    .button-submit {
        @apply bg-layer-1-surface text-layer-2-glyph;
    }

    .flex-fill {
        width: 100%;
        height: 100%;
        flex: 1 0 100%;
    }

    .scroll-hide::-webkit-scrollbar {
        display: none;
    }

    .scroll-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fade-in {
        opacity: 0;
        animation: fade-in 250ms ease-in-out forwards;
    }

    .active-ring-blue {
        @apply active:ring-4 active:ring-slate-300/70;
    }

    .active-ring-gray {
        @apply active:ring-4 active:ring-slate-300/20;
    }

    .tap-active-op {
        @apply active:opacity-60;
    }

    .tap-rise {
        @apply active:scale-[101%] group-active:scale-[101%] delay-[150ms] duration-[400ms] ease-in-out transition-all;
    }

    .tap-in {
        @apply active:scale-[97%] group-active:scale-[97%] delay-[150ms] duration-[300ms] ease-in-out transition-all;
    }
}

@layer base {
    :root {
        background-color: hsl(var(--layer-0-surface));
    }

    html {
        @apply select-none cursor-none;
    }

    select:focus {
        outline: none;
    }

    button:focus {
        outline: none;
    }
}